#
# Configuration file for the stress tester
#

# Define the connection and protocol parameters
connection-info = {
    protocol = fire
    encoder = heat
    decoder = heat

    # Total number of connections to use
    num-connections = #NUM_CONNECTIONS#

    # Control whether SSL is used or not
    secure = false
}

#
# This following block controls how instances are started up.
#
startup = {
    # Number of instances to start up in a given pass
    # A block size of 0 will start all instances simultaneously
    block-size = 0

    # Delay between starting instances in milliseconds
    instance-delay = 20

    # Delay between starting blocks in milliseconds
    block-delay = 0
}

#
# Define the account/authentication parameters used for account creation and authentication
#
account = {
    # Specify the starting integer value to use when generating email addresses.  This value
    # should be adjusted when multiple stress tester instances are running in parallel against the
    # same blaze server to avoid overlap of account names.  For example, if each stress tester
    # instance was configurated for 1000 connections, then the first config file would set this
    # to 0 and the second instance would set this to 1000.
    start-index = #START_INDEX#

    # Define the email address pattern used for authentication and account creation
    email-format = "blaze-stress%05x@ea.com"

    # Define the password used for authentication each account
    password = "password"

    # Define the persona format used when creating personas or logging in via stress_login.  
    # This is not used for authentication other than stress_login.
    # Regular login/authentication will just choose the first available persona associated with a master account.
    persona-format = "x%05x"

    # Define the namespace used when creating personas.
    namespace = "description"

    # Define the TOS version used when creating new accounts.
    tos = "2.0"

    # define the authentication mechanism to use: pc, ps3, or xbox360
    type = xbox360

    xbox360Accounts = [
    ]

}

#
# Define the list of stress modules that will be instantiated
#
modules = [ registration ]

#
# Define how the available instances/connections are distributed amongst the different modules
#
distribution = {
    registration = 1
}

#
# Configuration data specific to the registration module
#
registration = {

    # Define which RPC to use
    action = addrow 

    # Define the number of milliseconds between RPC calls
    delay = #RPC_DELAY#

    # Control whether a stress instance needs to authenticate its user before issuing its configured
    # RPC calls.
    login = true
    stress_login = true

    num_trials = 1
    num_execs_per_trial = #NUM_EVENTS_PER_USER#
    start-index = #START_INDEX#
}
