#
# Configuration file for the stress tester
#

# Define the connection and protocol parameters
connection-info = {
    protocol = fire
    encoder = heat
    decoder = heat

    # Total number of connections to use
    num-connections = 1

    # Control whether SSL is used or not
    secure = false
}

#
# This following block controls how instances are started up.
#
startup = {
    # Number of instances to start up in a given pass
    # A block size of 0 will start all instances simultaneously
    block-size = 5

    # Delay between starting instances in milliseconds
    instance-delay = 40

    # Delay between starting blocks in milliseconds
    block-delay = 300
}

#
# Define the account/authentication parameters used for account creation and authentication
#
account = {
    # Specify the starting integer value to use when generating email addresses.  This value
    # should be adjusted when multiple stress tester instances are running in parallel against the
    # same blaze server to avoid overlap of account names.  For example, if each stress tester
    # instance was configurated for 1000 connections, then the first config file would set this
    # to 0 and the second instance would set this to 1000.
    start-index = 2

    # Define the email address pattern used for authentication and account creation
    email-format = "blaze-stress%05x@ea.com"

    # Define the password used for authentication each account
    password = "password"

    # Define the persona format used when creating personas.  This is not used for authentication.
    # Authentication will just choose the first available persona associated with a master account.
    persona-format = "s%05x"

    # Define the namespace used when creating personas.
    namespace = "description"

    # Define the TOS version used when creating new accounts.
    tos = "2.0"

    # define the authentication mechanism to use: pc, ps3, or xbox360
    type = pc

    xbox360Accounts = [
#include "stress/xbox360.cfg"
    ]

}

#
# Define the list of stress modules that will be instantiated
#
modules = [ rooms ]

#
# Define how the available instances/connections are distributed amongst the different modules
#
distribution = {
    rooms = 1.0

}

#
# Configuration data specific to the dummy module
#
rooms = {
    # Define which RPC to use
    action = simulateProd
    
    # the category to put user created rooms in
    userCreatedCategoryId = 1
    
    # the view to use for performing actions
    activeViewId = 1
    
    sim = {
        joinProbablity = 30  //when not in a room
        createProbablity = 0 //when not in a room
		
        chatProbablity = 30  //when in a room
        leaveProbablity = 5 //when in a room
    
        maxSleep = 2000
    }

    # Define the number of milliseconds between RPC calls
    delay = 0

    # Control whether a rooms instance needs to authenticate its user before issuing its configured
    # RPC calls.
    login = true
}

logging = {
    level = DEBUG
}


